<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-button color="danger" expand="block" shape="round" size="small" > Default </ion-button>
  <ion-button>
    <ion-icon name="add"  slot="end"></ion-icon>
    add
  </ion-button>
  <ion-button href="about" (click)="  NavigateToAbout()">
    About 
  </ion-button>
       <p> c'est le  {{Tp}} </p>
</ion-content>
